html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
}
header{
    padding: 12px;
}
footer{
    background-color: burlywood;
    margin-top: 24px;
}
main{
    max-width: 880px;
    margin: auto;
}
input{
    border: 1px solid darkgray;
    border-radius: 4px;
}
textarea{
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}
button{
    padding: 12px;
    font-size: 110%;
}
.book-review-form{
    background-color: white;
    padding: 24px;
}


.bold_italic{
    font-style: italic;
    font:bold;
}